[2015-10-06 10:07] bebraw opened #1 "Demo triggers magnifier while dragging on iPad Chrome or Safari"
If you try to drag at the demo on iPad Chrome (iPad Air 2, newest Chrome) or Safari, it seems to trigger magnifier. I think you might need to apply some meta tags and/or CSS trickery to get rid of that. I recall it's somehow related to text selection (default behavior).

[2015-10-06 13:56] longlho commented on #1
cool I'll take a look asap.

[2015-10-06 21:48] railty opened #2 "works on ios, not on android"
doesn't work on android, error message:

[2015-10-06 21:56] railty commented on #2
sorry, works in android device, not on android emulator, error message "undefined is not a function", please see attached screenshot
![screen shot 2015-10-06 at 5 54 55 pm](https://cloud.githubusercontent.com/assets/5527472/10323827/9624e8e2-6c53-11e5-83d2-55a38933591e.png)

[2015-10-07 02:21] longlho commented on #2
cool I'll take a look asap :)

[2015-10-07 03:10] #1 closed

[2015-10-07 06:06] bebraw commented on #1
It's better now. I tested the new implementation and noticed the following things:

* iPad Chrome - If I change the list order quickly, everything works as expected. If I hold a finger on an item for a while and drag after that, the magnifier appears at the browser address bar. Maybe this triggers some behavior we're missing in the code?
* iPad Safari - I cannot get the magnifier to show up here.

[2015-10-07 06:27] longlho commented on #1
Yeah touch events get complicated in those cases and is sensitive to its children. Long tap does bring up the context menu in some browsers, also if the children is an `<a>`, long tap triggers `Add to Bookmarks` and all that stuff. I don't intend to `preventDefault` or `stopPropagation` to those behaviors cause it'll cause side effects.

Issue 2 should be fixed in #54acf4f485cc658e97074b62bb2e24a4

[2015-10-07 06:41] bebraw commented on #1
Ok, cool. Thanks!

[2015-10-08 16:54] railty opened #3 "preview doesn't work"
can you confirm that preview doesn't work?

[2015-10-08 17:17] longlho commented on #3
Checked on iOS and it works, does it not work on Android for u?

[2015-10-13 02:25] longlho commented on #3
@railty any clarification?

[2015-10-15 20:25] mereskin opened #5 "Broken w/ React-DND 2"
Looks like https://github.com/yahoo/react-dnd-touch-backend/commit/ef81ac2798328a60b89b7d90409144ab629127e5 fixes this problem. Any chance you can release `0.2.0`, @longlho ?

[2015-10-15 21:21] longlho commented on #5
yeah sure :)

[2015-10-15 21:26] longlho commented on #5
done :) lmk if u see any issues

[2015-10-15 21:29] longlho commented on #5
oh kk will release `0.2.0` w/ the React 14 stuff & react-dnd@2.0.0 also

[2015-10-15 22:07] longlho commented on #5
`0.2.0` should be published

[2015-10-15 22:22] #5 closed

[2015-10-15 23:46] mereskin commented on #5
Thanks, man!

[2015-10-19 07:13] svntastic commented on #3
I can confirm that preview is not working on Android. Drag works correctly, but you can't see what's being dragged.

[2015-10-19 13:28] longlho commented on #3
Ah kk gotcha, on touch devices native Drag-n-Drop actually does not get triggered, so a custom DragPreview is required. I'll put a note in the README and reference this issue.

[2015-10-19 13:34] #3 closed

[2015-10-19 17:39] railty commented on #3
that explains, good job

[2015-10-21 08:46] bebraw opened #6 "Touch backend differs from HTML5 backend in "list to list"?"
I'm current in the process of porting my [kanban application](https://github.com/survivejs/webpack_react/tree/touch_dnd) to react-dnd-touch-backend. I've managed to get most of it sorted out myself. There's only one major problem remaining.

Something very strange happens when I drag a note from a lane to lane. It attaches the note to the target lane but goes completely unresponsive after that. If

[2015-10-21 13:10] longlho commented on #6
@bebraw is this this [one](https://github.com/survivejs/webpack_react/tree/master/project_source/07_implementing_dnd) I'll take a quick look tonite :)

On Chrome u can enable touch emulation and step thru the process. Does the behavior appear after the note just arrived in the 2nd lane?

[2015-10-21 13:44] bebraw commented on #6
@longlho See [here](https://github.com/survivejs/webpack_react/tree/touch_dnd/project_source/07_implementing_dnd/kanban_app).

Thanks for the tip. I managed to make it crash!

[code]

The line where it crashes looks like this

[code]

This happens right after you drag a note to another lane. You'll need to set up some initial data of course.

[2015-10-21 14:03] longlho commented on #6
ha kk thanks I'll try to replicate and fix it hopefully tonite :)

[2015-10-23 19:19] longlho commented on #6
@bebraw sorry I have not forgotten, just been very busy :(

[2015-10-23 19:38] bebraw commented on #6
@longlho No hurry. Please take your time. :)

[2015-10-27 17:49] longlho commented on #6
@bebraw I updated the examples to support multi lists couldn't replicate the issue so u mind taking a quick look at the new examples :) ?

[2015-10-28 05:36] bebraw commented on #6
Thanks. I'll have a good look in a day or two (traveling atm).

[2015-11-02 14:03] bebraw commented on #6
Hi,

I found a little issue at your demo. If I drag an item to its original place, it yields

[code]

I still have to compare your implementation to mine to see what's the difference. This is something else entirely.

[2015-11-02 15:30] longlho commented on #6
yup will fix that one in the demo :) tks for letting me know.

[2015-11-07 15:08] esseb opened #7 "Touch and mouse support"
Just checked out the repo and tried the example now. Works fine on mobile with touch, but the example does nothing on desktop with a mouse. Is there a way to get both touch and mouse support working or is this purely for touch devices?

[2015-11-07 16:13] bebraw commented on #7
Check if touch is supported and select a backend based on that:

[code]

[2015-11-07 16:47] esseb commented on #7
So it's either or? I've got a touchscreen Lenovo laptop I primarily use a mouse with.

[2015-11-07 16:48] longlho commented on #7
@esseb yeah right now it's either or. There's definitely a possibility for a hybrid but since every touch screen claim to support native dnd it might get hairy.

thanks @bebraw for the clarification.

[2015-11-07 16:49] longlho commented on #6
@bebraw any luck :)?

[2015-11-07 16:50] esseb commented on #7
@longlho Well, how about supporting mousedown and mousemove in addition to touchstart/touchmove? I don't necessarily have to use the html5backend with a mouse, if the touch backend supported mouse events.

[2015-11-07 16:52] bebraw commented on #6
@longlho Not yet. I've been busy with some other work but I'll look into it in the near future.

[2015-11-07 20:31] longlho commented on #7
@esseb I'll try to take a look. Native dnd is definitely more performant than manual mouse events, and does not suffer from tricky propagation (e.g A long tap on certain elements (like anchor link) brings up bookmark menu and prevent default/stop propagation will cancel mouse emulation)

[2015-11-09 14:05] dshorowitz commented on #7
+1 for supporting both. Would be really useful to not have it be an either/or type thing.

[2015-11-19 16:02] igorrKurr opened #8 "Autoscroll"
Hi!
Is it possible to setup autoscroll in this, i mean when dragged item reach near bottom/top of container, scroll it?

[2015-11-20 14:58] methyl opened #10 "UMD dist"
Currently there is no UMD dist for users without NPM. I find it very useful as not everyone is able to use NPM module. Thoughts?

[2015-11-20 15:04] longlho commented on #10
yeah sure :+1:

[2015-11-20 15:40] longlho commented on #7
addressed in #9

[2015-11-20 15:40] #7 closed

[2015-11-21 14:10] esseb commented on #7
@longlho thanks!

[2015-12-01 22:05] longlho commented on #8
hmm personally I think it might be out of scope. The original `dnd` handles dragging from window to window (file upload drop, e.g)

[2015-12-01 22:06] longlho commented on #6
@bebraw feel free to reopen this issue if #12 doesn't work for u.

[2015-12-01 22:06] #6 closed

[2015-12-01 22:36] longlho commented on #10
@methyl I was lookin at this and I think I can release a UMD browserified version. The current `dist` right now doesn't have any dependencies (since it relies on NPM for dep resolving). Thoughts?

[2015-12-02 10:13] methyl commented on #10
Sounds great to me :+1:
W dniu wt., 1.12.2015 o 23:36 Long Ho <notifications@github.com> napisał(a):

[2015-12-03 16:25] longlho commented on #10
close via e9820c273e1e81aab79f7acbca1e58ae2001f6e3

[2015-12-03 16:25] #10 closed

[2015-12-18 16:30] Ognian opened #13 "additional onClick event when enableMouseEvents: true"
I'm using this backend with enableMouseEvents: true.
It works great on the iPad but on the Desktop I have the following problem:
I'm dragging Buttons around, so that they can be rearranged and clicked, but when such a button is dragged around and dropped somewhere I get also a onClick event, without actually being clicked (just dropped). Looks like some preventDefault() is missed?
Thanks
Ognian

[2015-12-23 16:19] longlho commented on #13
mouse events are inherently troublesome due to unintentional propagation and different element behaviors (links, buttons, images behave differently). I'd recommend using [HTML5 dnd backend](https://github.com/gaearon/react-dnd-html5-backend) if you don't have to support hybrid devices. What's your use case?

[2015-12-23 16:32] Ognian commented on #13
I'm supporting touch devices (actually iPad) and Desktop (with mouse only and no touch), so of course I can try to distinguish on wich device I'm running and use a different backend. I just tougth that this is a "small" problem ...

[2015-12-23 16:45] longlho commented on #13
You're right that it's easy to slap a `preventDefault`/`stopPropagation` in there, but we've had reports where people want events to propagate properly, so it's really a preference.

[2016-01-12 15:16] gnapse opened #14 "Doesn't work correctly with overlapping drop targets"
I have a trello-like interface in place, and it works great with the html5 backend. I decided to switch to this backend because I want to support touch devices, and also I'm planning to provide a custom drag layer anyway, so I should be able to ditch html5 backend completely, and use this backend with mouse events support enabled, to cover both desktop and touch devices.

Anyway, when I switched,

[2016-01-12 15:23] longlho commented on #14
The mouse support is mainly for hybrid devices and not very well-tested. In the mean time I suggest you use both `HTML5Backend` & `TouchBackend` conditionally while I'm tryin to take a look. And an example for your use case would be great :)

[2016-01-12 15:34] gnapse commented on #14
Ok I'll work on making a standalone app as example. And thanks for the tip on the hybrid thing, although the behavior I describe occurs consistently on both touch and mouse devices.

[2016-01-12 20:12] gnapse commented on #14
Ok, I think I narrowed it down to the fact that `monitor.isOver({shallow: true})` is not working correctly.

In my `hover` handler on the list component, there are two possible item types to handle: 'list' or 'card'. When hovering a card over a list, I check if `monitor.isOver({shallow: true})`, in which case I assume the card is being dragged directly over an empty area of the list. Otherwise it

[2016-01-12 23:49] longlho commented on #14
hmm I don't think the backend is handling `isOver` implementation thou.

[2016-01-13 01:00] gnapse commented on #14
Yeah, I know. I did some research on the ReactDnD and backends source code and it seems so. It's actually on the `dnd-core` package where this is handled. I'll build a sample app where the issue can be replicated, it might take me a few days though.

[2016-01-13 14:56] gnapse commented on #14
Here's the example extracted to a standalone app: https://github.com/gnapse/react-dnd-trello

It behaves as described above. There are two commits in that repo. On the initial commit the app uses the Html5 backend, and works as expected. You can checkout that commit and see how it works. Then if you checkout master once again, you can see it working with the touch backend. When you drag a card out

[2016-01-25 14:16] Cottin opened #16 "Support of scroll and long tap"
I tried a simple implementation of this in a list that's longer than the iphone screen height and needs scrolling. The problem is that the drag fires before scrolling and as a result, you cannot scroll.

Am I doing something wrong or is this actually how things are supposed to work?

If so, do you have any plans to add support for a flag to only trigger the drag start on a long tap or something si

[2016-01-25 16:49] longlho commented on #16
so I'm kinda undecided on this, because long tap has different meaning for different DOMElement (it'll bring up context menu in anchor links and some others). Allowing an flag is a good way to go I think, but I've been swamped and haven't got a chance to take a look.

[2016-01-25 21:26] Cottin commented on #16
Thanks for the encouragement @longlho  :)

I found https://github.com/JedWatson/react-tappable which has `onTap` (normal tap) and `onPress` (looks like what I call long tap). Have you seen this and would it make sense to use react-tappable in conjunction with react-dnd + react-dnd-touch-backend?

A simple thought could be to return `false` from `canDrag` in the `dragSource` until a `onPress` is fi

[2016-01-26 02:02] longlho commented on #16
hmm `react-tappable` is certainly interesting and would be nice if they can work together. However the event chain propagation/preventDefault might get messy, as this also listens directly to `window` instead of React's `syntheticEvents`. If u can make them work together great :)

[2016-01-30 15:15] gnapse commented on #14
@longlho have you tried the sample app? any ideas?

[2016-01-30 23:17] longlho commented on #14
sry I haven't got time :(

[2016-01-31 23:09] arcanis opened #17 "Wrong DragLayer positioning"
When the DragDropContext element is an absolute/relative element which is not located on the top-left corner of the window, the coordinates returned by `getSourceClientOffset` will be wrong. It's because the internal `getNodeClientOffset` function directly returns the `getBoundingClientRect` position, instead of returning this position *minus* the `getBoundingClientRect` of the DragDropContext ele

[2016-02-01 03:17] longlho commented on #17
hmm is this an issue in the HTML5 version also since the share the same calculation methodology?

[2016-02-01 18:05] Dennisimmo commented on #14
Hey friends, ive been running into the same issue with my nested droptargets when changing to touchbackend.
I further investigated and found that the problem is related to the order of `matchingTargetIds` and `this.targetNodes` in `handleTopMoveCapture`. This is because the dnd core uses the index of these targetIds to check shallowness in DragAndDropMonitor.js .
 ` if (shallow) {
      return ind

[2016-02-01 18:11] hkaju commented on #16
What about scrolling? I ran into the same isssue myself and was wondering if what @Cottin described is the expected behaviour or a bug/implementation quirk.

[2016-02-01 18:38] arcanis commented on #17
It seems to be bugged too, yes..

[2016-02-01 18:44] longlho commented on #17
hmm @gaearon might be an underlying issues that affect all backends?

[2016-02-01 18:56] longlho commented on #16
kinda like a quirk due to conflict in behaviors of tap/long tap/drag.

[2016-02-01 20:15] arcanis commented on #17
A workaround (or maybe it's what I'm supposed to do anyway?) is to use a `fixed` positioning on the preview element, instead of `absolute`. Not sure how well it works with scroll, though.

[2016-02-02 01:19] gnapse commented on #14
Great findings @Dennisimmo!! Thanks a lot. I believe this is a huge step forward in finding the solution. I doubt I'll have significant time anytime soon, considering that I'm not fully familiar with the internals of this backend lib, but I'll definitely be taking a look at it at some point if no one else beats me to it before that. These findings at least give me a clue. Thanks again.

[2016-02-02 01:54] gnapse commented on #14
I can confirm @Dennisimmo's findings.

I got a copy of the UMD release of this touch backend into my project, and manually modified [this line](https://github.com/yahoo/react-dnd-touch-backend/blob/e9820c273e1e81aab79f7acbca1e58ae2001f6e3/src/Touch.js#L231) according to his instructions (`matchingTargetIds.reverse()` instead of just `matchingTargetIds`) and my example now works as expected.

Can a

[2016-02-02 02:02] longlho commented on #14
thanks @Dennisimmo :) yeah throw in a PR and add in your use case in the `examples` & that should be good.

[2016-02-02 03:01] gnapse commented on #14
I now understand fully the comment by @Dennisimmo above, and why his fix is not fully a correct fix:

At least in my example it is not necessary to leave the initial drop target in order for the fix to work. But still during an initial moment after the drag starts, I notice a flickering in which, upon starting to drag, the recently "lifted" card briefly appears as droppable in the end of the list

[2016-02-03 16:40] longlho commented on #14
hmm kk im taking a look now. The order of `matchingTargetIds` is non-deterministic conceptually (since it's a filter of `key`s on an `object`) so the `reverse` fix won't work for all cases.

[2016-02-03 17:11] longlho commented on #14
@gnapse just put a PR in your example

[2016-02-03 17:12] longlho commented on #17
hmm yeah ur right, might have to fiddle w/ positioning instead.

[2016-02-10 21:01] zeroedin-bill commented on #17
Trick is to compute position offset due to offset parents.

In your drag layer component (uses lodash):

[code]

[2016-02-11 00:11] longlho commented on #17
thanks @zeroedin-bill :)

[2016-02-11 01:20] zeroedin-bill commented on #17
@longlho I think this could be handled in the library itself though. Might make a PR tomorrow.

[2016-02-24 13:09] IljaDaderko opened #18 "Disable autoscrolling?"
I am experiencing a lot of issues due to what I believe is react-dnd-touch-backend's attempts to autoscroll during me dragging items around, I was wondering if there is an option to disable this? (if it is in fact happening).

[2016-02-24 15:56] longlho commented on #18
I don't think the plugin changes the scrolling behavior (`display` or `position` of your items). It's entirely up to you to style it. It just provides `props` attributes to tell you whether certain things are being dragged over/dragged/dropped

[2016-03-09 12:47] kmkr commented on #13
Did you figure out how to solve this problem, @Ognian ?

[2016-03-09 13:02] Ognian commented on #13
For the moment I'm simply ignoring this problem :-) It should be possible to detect if it is a desktop browser and then use the HTML5 and backend instead, but I haven't tried to do so.

[2016-03-09 13:33] kmkr commented on #13
Yes I was trying to, but the closest I came was to check user agent headers. If there was a way to either detect touchevent-support OR native drag support that would be better. It seems like some browsers state they have native drag support even though the don't, and it's a similar problem with touch screens.

I tried adding `.preventDefault()` and `.stopPropagation()` in a fork of this project, b

[2016-03-11 11:26] Ognian commented on #13
I haven't dig in deeper, so no idea how to fix it. In my case I have either a Desktop Browser with no touch or an iPad, so I would check for the IPad and use the Touch handler in this case and in all other cases the one without touch support.

[2016-03-17 11:11] hakunin opened #19 "Warning: setState(...): Cannot update during an existing state transition"
Hi, I am getting

Any ideas? I am sorting stuff while you're dragging an item so that might be the cause.
The code is based on official guide on how to do sortable, and the problem began when I switched backends.

[2016-03-17 20:55] longlho commented on #19
do u have a code sample by any chance?

[2016-03-21 16:19] cedmax commented on #16
I'm sorry, I started working on a solution for this without having a look at this thread.
What I came up with is a delay option (as for PR https://github.com/yahoo/react-dnd-touch-backend/pull/20) which should solve the issue. Of course it would be up to the component assigned as DragSource to handle it's state to inform the users of the "hold" state.

[2016-03-23 06:00] hakunin opened #21 "Don't start dragging on right click"
Hi,
I noticed the backend will start dragging even on right click.

Is there a way to intercept drag start and prevent that?

[2016-03-23 06:02] hakunin commented on #19
Too much code, will reopen when I have more info.

[2016-03-23 06:02] #19 closed

[2016-03-23 06:47] hakunin opened #22 "How to specify drag threshold?"
Hi,
I want to specify a drag threshold, because I trigger dragging way too often when I don't want to.

[2016-03-23 21:53] pr1ntr opened #23 "npm install hangs on randombytes"
```loadDep:randombytes → net ▀ ╢██████████████████░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░╟```

Pretty much forever for me. Not sure if its just me.

[2016-03-24 00:56] longlho commented on #23
hmm that seems to be a `browserify` issue

[2016-04-01 12:04] klacointe commented on #21
I've got the same problem.

[2016-04-02 11:22] peasemaker opened #24 "Drag and Drop delay"
I want to drag react component when I hold click or touch on it. And when I just touch this component I can scroll the page. How can I do that?

[2016-04-04 11:25] esseb opened #25 "Decorators are not supported yet in 6.x pending proposal update."
Checking out the repo (hash 6d8cf69ac74c55371f8c8c59467fab9399e6430f) and running `npm i && gulp js-dev` as recommended in README.md I get this error:
[code]

I solved it locally by installing `npm i --save-dev babel-plugin-transform-decorators-legacy` and adding `"plugins": [["transform-decorators-legacy"]}` to `.babelrc`.

I'm not submitting a pull request since I don't know if using the decorat

[2016-04-04 13:17] longlho commented on #25
ah kk tks for reporting! feel free to PR to remove the decorators :) It'll take me a while to get to it :(

[2016-04-04 16:34] esseb commented on #25
@longlho so you want to use ES6 style `export default DragLayer(collect)(ItemPreview)` instead of decorators?

I could do it, if I find the time :), just want to make sure that's how you would like it solved.

[2016-04-04 16:40] longlho commented on #25
yeah that sounds good :)

[2016-04-05 11:44] hakunin commented on #21
@klacointe I ended up copy & pasting the plugin (its just a single file) and making the changes I needed.

I also needed to prevent the click even when the item is dropped so I added that too.

Here it is:
https://gist.github.com/hakunin/ff66c1f4af4801d8a8ee73dc0af32e8e

[2016-04-05 12:05] klacointe commented on #21
Ok, thanks

[2016-04-07 15:55] bebraw opened #26 "Kanban demo - Event handlers get triggered when dragging left but not right"
I and @prashcr saw something strange. He implemented a kanban board based on the touch backend. The kanban consists of lanes and notes within lanes you can drag around. A lane name can be edited by clicking its header. The problem is that if you drag a lane to the left, swap, and complete the action, it actually activates lane name edit (header onClick gets triggered). This is something that doesn

[2016-04-08 00:22] prashcr commented on #26
Yep, and this only occurs on desktop, mobile (Android Chrome) works as expected (doesn't trigger onClick when dragged)

[2016-04-08 18:34] longlho commented on #26
hmm I think that's in [react-dnd-html5-backend](https://github.com/gaearon/react-dnd-html5-backend) instead?

[2016-04-08 18:38] bebraw commented on #26
It goes through the touch backend. [Source](https://github.com/prashcr/kanban-app/blob/experimental/app/components/App.jsx).

@prashcr That first video is set to private.

[2016-04-09 02:33] prashcr commented on #26
Make sure you're on the `experimental` branch of the repo, which is what's linked here.

html5-backend version lives on `master`, and is live at: http://prashcr.xyz/kanban-app

@bebraw My bad, fixed.

[2016-04-11 00:08] longlho commented on #26
@bebraw @prashcr

tl;dr: I'll prob pull mouse support from this, since its behavior is wildly different from touch propagation, in the sense that `mouseup` doesn't stop `click` propagation since those are 2 complete separate events (there's no `tap` event, and `touchend` does stop mouse event simulation properly).

So the gist of it is actually how React handles reordering of children (cc @gaearon

[2016-04-14 10:39] hakunin commented on #24
You have to dig into the code and implement it yourself. This repo seems dead and I ended up changing the code to achieve even basic stuff / remove some issues.

[2016-04-16 13:43] cedmax commented on #24
There's a delay option I introduced in a previous PR, I probably should have documented it, but it's there

https://github.com/yahoo/react-dnd-touch-backend/commit/26884a4ae913da3521530f85e6567563a1a8df8e

[2016-04-17 09:40] longlho commented on #25
should be fixed

[2016-04-17 09:40] #25 closed

[2016-04-17 09:43] longlho commented on #24
@hakunin sorry for not chiming in (I'm on vacation). I plan to [pull support mouse event](https://github.com/yahoo/react-dnd-touch-backend/issues/26#issuecomment-208098139) in the future (also lack of use cases in our production usage) that's probably why I haven't been responsive to mouse issues

[2016-04-25 15:18] Yuripetusko opened #28 "Dragging past visible viewport"
Sorry if this has been asked before.

When dragging past visible viewport, it doesn't scroll, so there's no way to reach my drop target that is outside of view.

[2016-04-25 18:03] longlho commented on #28
yeah this is an issue that I haven't got time to work on

[2016-04-25 22:18] Yuripetusko commented on #28
Thanks @longlho I understand.
Have you looked into it? Do you have anything in mind for this? I might do a PR, just wanted to get some intel before reading too much of code.

[2016-04-26 00:30] longlho commented on #28
I have not looked into it so feel free to take a stab :)

[2016-04-28 04:27] glenn-allen commented on #14
Hi Guys, just wondering if anyone has made any progress on this?
My team has encountered the same issue, so rather than reinvent the wheel I thought I'd check.
Thanks

[2016-04-28 11:57] longlho commented on #14
I put in a [PR](https://github.com/gnapse/react-dnd-trello/pull/1) for @gnapse repo but haven't heard back

[2016-04-28 17:44] gnapse commented on #14
Sorry, I recall having checked that at the time, and I recall it fixed the problem. Thanks @longlho. So @glenn-allen perhaps you can apply the corresponding fix in your app to see if it works, because the mentioned PR is not on this library, but on the app that uses it. I guess this issue can be closed now, but I'll take the time to double check now that fix and will come back here with the result

[2016-04-28 19:08] longlho commented on #14
@gnapse feel free to reopen :)

[2016-04-28 19:08] #14 closed

[2016-04-28 22:45] glenn-allen commented on #14
OK, thanks for the suggestions.
I don't think that will help our case because we can have overlapping drop targets of various types (as it's a free form canvas), so we really need the `monitor.isOver({shallow: true})` to only return true when the element at the highest stacking context is hovered.
From my initial searches this doesn't seem to be an easy problem to solve, if I get the chance to del

[2016-04-29 02:59] glenn-allen commented on #14
I gather the cause issue is known but the fix perhaps isn't so I've created a repo that demonstrates the issue and might help with the investigation (extended from the react dnd example).
[https://github.com/glenn-allen/dnd-touch-example](https://github.com/glenn-allen/dnd-touch-example)

Let me know if I should open a separate issue for this.

[2016-05-10 10:13] jiglesias commented on #8
Hi!
With HTML5 Backend, react-dnd scrolls automatically.
Do you have any workaround for this feature?

[2016-05-23 08:18] hakunin opened #29 "Chrome interrupts dragging of a link"
I found an issue where when using the mouse version and Chrome, dragging something by a link interrupts the DnD behaviour unless this css is added to the body:

[code]

I also added
[code]

To prevent text selection.

[2016-05-23 14:03] longlho commented on #29
yup, feel free to PR the caveat into README if u want :)

[2016-05-27 03:08] glenn-allen opened #30 ""Shallow" isOver doesn't work correctly on nested targets"
As per this example:  [https://github.com/glenn-allen/dnd-touch-example](https://github.com/glenn-allen/dnd-touch-example)
And the discussion here: https://github.com/yahoo/react-dnd-touch-backend/issues/14
The drop target's ```monitor.isOver({ shallow: true })``` doesn't work correctly for nested or overlapping drop targets.

I realise there's some suggestions that the issue is occurring within t

[2016-06-01 13:33] krtr commented on #30
I think I have fixed stacking order, hover is working but drop event is fired to all components under cursor so its need some more work.
But you can take a look: https://github.com/krtr/react-dnd-touch-backend/blob/targets-sort/src/Touch.js#L248

[2016-06-10 18:16] oyeanuj commented on #24
@longlho Any updates here on pulling in mouse support like mentioned on your comment above and issue #26?

[2016-06-10 18:18] longlho commented on #24
I think I meant pulling out mouse event support, cause it's not entirely 1-1 mapping to HTML5 dnd API and it's buggy for `touch` due to diff propagation scheme

[2016-06-10 18:32] oyeanuj commented on #24
@longlho Oh, I see. So, this might be a little bit of an aside, but if one needs to support both touch and mouse events - would the idea be that one uses the html5-backend and this library, switching based on device?

[2016-06-10 18:33] longlho commented on #24
yup that's what we've been doing

[2016-06-15 17:18] panzi opened #31 "item lost and frozen during dragging"
When I start dragging an item the item freezes after dragged for a few pixels and instead the viewport scrolls with the item being frozen in the middle of the viewport. When I then drag the item again it works. Here is a video that illustrates the issue: https://www.youtube.com/watch?v=1SNyTLEQaE4

I of course use a custom drag layer and I render a simplified version of the dragged item there (no

[2016-06-19 00:06] longlho commented on #31
do u have a simplified sample code to demon this?

[2016-06-19 00:09] panzi commented on #31
Sorry, no. But I found out when I don't call `connectDragSource` (the number) and `connectDropTarget` (the whole item) on the dragged element when `isDragging == true` and also change the `<div>` inside the drag handle (the number element) to a `<span>` (and make it `display: block` again) everything works just fine. But it has to be both changes. One alone does not work. Absolutely strange.

[2016-06-19 00:11] panzi commented on #31
I also tried to write my own minimal touch backend and it had the exact same problem! I still use my own touch backend because it also supports Windows Phone through MS Pointer Events. Will probably publish that backend next week.

[2016-06-19 18:58] longlho commented on #31
Yeah I did some digging around w/ similar situation, since touch evt propagation is different and it interferes w/ scrolling also https://github.com/yahoo/react-dnd-touch-backend/issues/26#issuecomment-208098139 Doing this isn't as straightfoward as HTML5 DnD API

[2016-06-21 00:36] desbrowne commented on #24
@longlho if you pull support for mouse events then what do you suggest for supporting hybrid devices (i.e. MS Surface) where the user may be using both touch and mouse?

[2016-07-03 23:21] glenn-allen commented on #30
Hi guys,

Sorry I've only just come back from holiday so I just tested the merge and it fixes the `isOver` issue.  Thanks so much!!

@krtr I haven't tried your change yet, but that method `elementFromPoint` is awesome!  Amazed I hadn't heard it / found it earlier.

Thanks again everyone, closing this now.

[2016-07-03 23:21] #30 closed

[2016-07-11 22:16] astashov opened #34 "Dragging over and dropping to drop targets don't work anymore"
It seems like because the code for figuring out the matching targets was commented out: https://github.com/yahoo/react-dnd-touch-backend/blob/master/src/Touch.js#L259
And browsers don't fire touchmove/touchend events on a node if the touch was not originated on the node.

Rolling back to 0.2.7 solves the issue.

[2016-07-12 03:56] longlho commented on #34
cc @DetweilerRyan

[2016-07-13 19:16] badtant commented on #34
Also seeing this issue

[2016-07-16 19:18] choffmeister opened #35 "Wrap default HTML5 backend"
Hi,

I just got an idea I wanted to discuss here: As I see in the source code this DND backend uses `mousedown/up/move` to also work in desktop machines, but this has some edge cases. I ask myself, if it would be possible to wrap the original HTML5 backend (like some kind of higher order backend) that handles the touch case but also passes the native DND events to HTML5 backend, so that one can ha

[2016-07-17 00:54] longlho commented on #35
It's certainly possible, the complexity is in event propagation differences between touch events & mouse events, along w/ native interpretation of tap, long tap (bring up context menu) and such. DnD are targeted APIs by browsers so it's easier to assume the intention of the action

[2016-07-18 06:17] Tlapi commented on #28
@longlho Hi, did you have any luck with that?

[2016-07-21 02:44] longlho commented on #28
sorry I haven't got time to take a look :(

[2016-08-03 12:45] hakunin opened #36 "Permission denied to access property "targetTouches""
I get this one from time to time from Firefox users and have gotten it myself, although I couldn't reproduce it.

Then it seems to be followed by these two:
TypeError: Cannot read property 'getNativeNode' of null
TypeError: Cannot read property '_currentElement' of null

On my page I don't have any iframes and my FF is pretty stock apart from firebug.
In 20 minutes of playing with the page I could

[2016-08-12 14:44] SDSLeon commented on #34
Yeap, if dropTarget overlapped by children its not work;

[2016-08-18 15:15] tuckermiller commented on #34
I'm not sure I understand, is this issue that dragging and dropping to any drop target, period, won't work? Basically making the current version of the touch backend unusable? Or is it a more specific case. Thanks in advance

[2016-08-18 15:27] DetweilerRyan commented on #34
Currently, version 0.3.0 only works for mouse events and not touch events.

[2016-08-18 15:35] tuckermiller commented on #34
Gotcha, thank you very much for the quick response! Very much appreciate this library, since I don't need nested children will try 0.2.7

[2016-08-18 15:36] DetweilerRyan commented on #34
Yes, I recommend using 0.2.7.

[2016-08-19 09:19] badtant commented on #34
Seems to work with 0.3.2

[2016-08-19 19:01] jrodl3r commented on #7
@bebraw thank you for that solution. however, it doesn't work on isomorphic / server-side render... Modernizr throws: `window is not defined`

any ideas on how to work around that in webpack/SSR env? Thx!

[2016-08-20 05:21] longmfe opened #39 "usage of redux connect and react-dnd-touch-backend"
I got an issue with using redux connect. It works for html5-backend. But when I switch to touch-backend. I can not drag the item actually. Is there anyone met this kind of issue?
I did something like this
`import { connect } from "react-redux";`
`import TouchBackend from "react-dnd-touch-backend";`
`import { DragDropContext } from "react-dnd";`

`class App extends Component {`
  `...`
`}`

`App =

[2016-08-20 14:22] longlho commented on #39
this only handles touch event. By drag do u mean w/ a mouse?

[2016-08-22 07:15] bebraw commented on #7
@jrodl3r You could try [shimming window](https://github.com/webpack/docs/wiki/shimming-modules). That should get rid of the error at least.

[2016-08-23 10:16] longmfe commented on #39
Thanks for reminding. It actually works on my real phone. But it doesn't work when I try to test it on chrome with mobile mode. Since I use mouse to simulate touch event. Thanks.

[2016-08-23 11:21] cagarweyne opened #40 "Example not working"
I've tried to run the example and pushed to a github page to see it in action on touch devices, but the drag and drop is not working properly:

https://cagarweyne.github.io/touch/

I've basically followed the steps for building the example from the repo, maybe I'm missing something?

[2016-08-23 12:25] #39 closed

[2016-08-25 15:02] platvampb commented on #40
Same here. Wonder if this is related to #34

[2016-08-29 01:39] jrodl3r commented on #7
@bebraw I don't think that technique is going to work for the React (SSR) project i'm working with: (https://github.com/reactGo/reactGo ~ https://github.com/reactGo/reactGo/blob/master/app/containers/App.jsx)

When App.jsx is loaded, `window` is never going to be accessible to leverage on a ternary at the point it's executed. I would love to hear otherwise, but the way it's being used for the SSR

[2016-08-29 02:40] longlho commented on #7
@jrodl3r bc `mouse`, `touch` & `draganddrop` API are radically different and bridging them is fairly [buggy](https://github.com/yahoo/react-dnd-touch-backend/issues/26#issuecomment-208098139)

[2016-08-29 03:23] jrodl3r commented on #7
@longlho well I sure wish there was a way to detect `Touch Support` and then roll the TouchBackend / HTML5Backend in a Server-Sider Rendered project like the one linked above 👍

[2016-08-29 03:30] jrodl3r commented on #13
@longlho where would the `preventDefault/stopPropagation` go in the package to stop the `onClick` from firing on parent elements? Thx!

[2016-08-31 02:14] longlho commented on #13
if u `preventDefault` on any of the touch events, mouse simulation won't be fired

[2016-08-31 04:24] swhite24 commented on #34
0.3.2 works for me as well 👍

[2016-09-10 12:58] wan54 commented on #8
+1

[2016-09-14 09:04] HugoMcPhee commented on #40
It's working for me if I drag onto the text of another item.
Have you tried adding a background color to each item in the list?
It might not be detecting touches on the fully transparent parts of the item

[2016-09-18 08:59] Venryx commented on #30
The call order for canDrop and drop seem to be off for me, even in the newer version.

Layout's like this:
<ScriptUI ref="outer">
    <ScriptUI ref="inner"/>
</ScriptUI>

And the ScriptUI class has a @DropTarget decorator.

Problem is that:
* The canDrop and drop functions get called on the outer component first.
* The targetId for the outer one is higher than the targetId for the inner one. (oute

[2016-10-17 08:57] shotaK commented on #35
What about conditionally loading different backends for different devices. e.g we can check whether device is touch and if it is we can load touch backend and so on. Also doc says that mouse events support is buggy, does anyone know what this exactly means? is it dangerous to use it for production, which is supposed to work on both desktop and touch devices?

[2016-11-01 16:49] ehkasper commented on #24
@desbrowne yeah, i've run into the same issue. Any suggestions on how you fixed it (if you did)?

[2016-11-01 22:46] desbrowne commented on #24
@ehkasper mouse events haven't been pulled yet, if it does we'll likely have to fork it. So for the time being we simply use touch detection and load the touch backend if it's supported. Older browsers/devices will have a problem with this as touchevent support was buggy but our app requires a modern browser so we eliminate that issue.

[2016-11-27 22:13] felipeleusin commented on #35
Hi,
I just used: ('ontouchstart' in document.documentElement) ? TouchBackend : HTML5Backend and worked but I need to test in more devices

[2016-11-27 22:43] longlho commented on #35
@shotaK the mouse support is buggy in certain edge cases. For ex:

When you "long" `touch` an `anchor` tag in touch device, it'll bring up the context menu to bookmark, etc... Now since mouse listens on `mousedown`, it'll conflict w/ this behavior since you'd have to long `touch` it to drag it somewhere. If you don't use `anchor` tag to drag, it should be fine.

In general, long `touch` depending

[2016-11-28 09:29] shotaK commented on #35
https://github.com/longlho thanks for the explanation.

I also started loading it conditionally and so far it works great.

[code]

[2016-11-30 08:14] pupadupa opened #43 "gulp js-dev doesn't work"
I get the following output when try to build example
[code]
...and task hangs

What could cause this problem ? How could I fix it?

[2016-11-30 15:44] longlho commented on #43
`gulp js-dev` is a watcher task so it's not hanging, it's watching your files changes. While it's running you can just open the example & any changes to the source code will be rebuilt automatically

[2016-12-01 03:15] #43 closed

[2016-12-13 09:54] knuterik91 commented on #31
@longlho  Im having sort of the same issues as @panzi.
I have no problem sorting elements inside one list, however when I try to drag an element from one list to another list then the item freezes with touch backend, no issues with html5 backend.

I have created a repo with this issue [https://github.com/knuterik91/react-dnd-touch-html5-example](https://github.com/knuterik91/react-dnd-touch-html5-

[2016-12-13 17:49] jsg2021 opened #44 "Chrome/Android are blocking the preventDefault of document level touch event listeners"
https://www.chromestatus.com/features/5093566007214080
![screen shot 2016-12-13 at 11 49 39 am](https://cloud.githubusercontent.com/assets/577453/21152015/40f93eae-c12a-11e6-8319-b1af7e0714d6.png)

[2016-12-13 17:51] longlho commented on #44
tks I'll take a look but feel free to PR :)

[2016-12-13 18:33] #44 closed

[2016-12-17 17:56] dhenson02 commented on #44
@longlho any chance you'd be able to publish a version increment for this to NPM?

[2016-12-18 17:27] longlho commented on #44
@dhenson02 `0.3.4` published :)

[2016-12-21 09:22] oyshan opened #47 "Cancel drag on escape key"
I'm using react-dnd with the react-dnd-touch-backend on an app that is used on keyboard devices with touch screens. So it should respond to both mouse and touch drags, hence I need to use the react-dnd-touch-backend. Since I use keyboard devices, I'd like to be able to cancel a drag (which reverts the dragged item to its original position) by hitting the Escape key on the keyboard, similar to the

[2016-12-21 11:14] oyshan commented on #47
I forked the repo and added a keydown event listener on the touch-backend framework. This will cancel the drag if the Escape key is pushed. See pull request: https://github.com/yahoo/react-dnd-touch-backend/pull/48

[2016-12-22 18:00] clessg commented on #35
Unfortunately, [this article](http://www.stucox.com/blog/you-cant-detect-a-touchscreen/) still seems to be relevant.

Something like `Modernizr.touchevents` works most of the time, at least. Unfortunately, hybrid devices are kind of screwed, as mouse-based dragging will no longer function.

[2017-02-01 17:11] rk1408 opened #49 "Items are also draging on scroll"
Hi,
I'm tried with the examples.  I am facing problem with scroll, Items of list are also dragging while scrolling.

I tried with delayTouchStart option:
`DragDropContext(Touch({ delayTouchStart: 10 }))(App);`

It is working fine but touch on other components(like button), again same scroll issue is coming.

[2017-02-08 17:12] esoman commented on #21
@hakunin, I know it's been a while since this issue was open, thoughts about a :pr: for your fork?

[2017-02-08 17:15] hakunin commented on #21
We're going to switch to the default one and use touch for touch only so no further work on fork will be done.

[2017-02-08 17:47] esoman commented on #21
Cool, thanks for the info and posting your fork @hakunin.  I think I will attempt to take the work you did and get it into a PR if you don't mind.

[2017-02-08 18:01] hakunin commented on #21
If you find it useful, do anything you with with it.

[2017-02-17 02:56] RByers commented on #44
Sorry for the trouble, this is a breaking change in Chrome 56 to [improve scroll performance](https://developers.google.com/web/updates/2017/01/scrolling-intervention).  The better fix for scroll performance is to add an appropriate `touch-action` [CSS rule](https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action), as you would need to in order to use pointer events (eg. to support touch in

[2017-02-17 15:25] longlho commented on #44
@RByers gotcha tks

[2017-02-21 08:15] koutsenko commented on #35
I don't want to use HTML5 backend because there is no way to disable dragging ghost transparence. Is it possible to create a topic where we can discuss all mouse-related **bugs** and **workarounds** when **enableMouseEvents** was set to **true**?

[2017-02-21 09:12] choffmeister commented on #35
You can disable it. You can hide native drag preview alltogether and build a custom drag preview.

[2017-02-21 13:38] koutsenko commented on #35
@choffmeister , yes, but that custom preview will have opacity ~0.5 and I can't override that specs-related behaviour...

[2017-02-21 13:41] choffmeister commented on #35
No. You completely hide it. so u have no html5 drag preview. And then u create a new DOM node which u control with javascript do float next to the mouse cursor.

[2017-02-21 13:44] choffmeister commented on #35
@koutsenko See https://react-dnd.github.io/react-dnd/docs-drag-layer.html for more information

[2017-02-21 13:44] longlho opened #50 "Looking for maintainers"
Hi guys,

We unfortunately no longer heavily use this plugin within YFinance & our use cases have been very simple so if anyone's interested in taking over the repo I can add her/him as collaborator.

Thanks!

LH

[2017-02-21 13:56] koutsenko commented on #35
@choffmeister thanks, okay, what if I use hybrid touch device (laptop with touchscreen). What backend i should use when page loads - react-dnd-html5-backend for mouse\touchpad or react-dnd-touch-backend for touchscreen? They can't work together, and making choice will disable one input type. Seems that second backend can handle both input types. But... there is a notice about mouse-related bugs.

[2017-02-21 14:00] koutsenko commented on #35
I'm thinking about third-party libs like [that](https://medium.com/@michael.sotkin/creating-easy-drag-and-drop-components-with-interact-js-in-react-3060784bf843#.chtqc7ahy) , of course, I'll replace findDOMNode by refs, but it's hacky solution also - I must inject into lifecycles of all applications components which take an participance in drag-n-drop operations

[2017-03-01 01:26] evanc commented on #31
I'm also seeing this, I think it's happening when the thing you're dragging unmounts (which works just fine in the HTML5 backend)

[2017-03-01 03:27] longlho commented on #31
PR's welcomed 😃 (see #50)

[2017-03-01 05:03] evanc commented on #31
I spent several hours debugging this today, if I find the issue I will certainly PR it.

[2017-03-01 23:59] evanc commented on #31
I think it's actually because browsers stop sending `touchmove` events if the element the `touch` started on goes away- whether it's the thing that was actually listening to touch events or not. Weird.

[2017-03-02 11:29] dffpm opened #51 "Draggable item is not visible"
Good day. I have problem: when i try to move source item, it's working, but item does not visible, while it moving. What i do wrong? This is code of my source item:

[code]

[2017-03-07 02:24] nvanselow commented on #31
In case this helps anyone else: I was able to solve this issue (dragging stops when a DOM element is removed/unmounts) by creating an "element cache" DOM node. This solution is still a work in progress. I will try to update this answer as it solidifies. I'm not sure if the touch backend should do this automatically or it should be handled by the developer when this specific case comes up.

In `beg

[2017-03-14 14:22] OliverJAsh commented on #7
`Modernizr.touchevents` returns `true` in desktop Chrome for me. 😒

[2017-03-14 14:49] OliverJAsh commented on #51
You have to implement the preview yourself when using this backend. See the docs https://github.com/yahoo/react-dnd-touch-backend#drag-preview

[2017-04-03 09:10] pitrackster opened #54 "FileDropZone with touch backend"
Hi there and thanks for your work... Very usefull !

I was wondering about this : https://react-dnd.github.io/react-dnd/docs-faq.html#112

#### How do I register a drop target for the native files?

But what if we use `TouchBackend` ?

Thanks

[2017-04-13 11:39] JoaoMosmann commented on #54
It's not possible. Only the native drag n' drop API allows you to drag things from outside your application.

[2017-04-13 11:41] JoaoMosmann commented on #50
I'm currently using touch backend a lot. And come complex use cases. I guess I could help to maintain it.

[2017-04-13 11:51] JoaoMosmann opened #56 "Dynamic nested DropTargets drop method order is not tied to DOM element depth"
I migrating from the HTML5 backend and I got stuck with this problem.

I have 2 DropTargets, one inside the other. The top level one filters the dropped source and makes some changes and return a modified object in the drop method. So the bottom level DropTarget process the final result.

This was possible with the HTML5 backend because the drag n' drop backend ensured the order.

It was working w

[2017-04-13 12:49] JoaoMosmann commented on #56
I added a PR with a example to test the problem and a solution as well #57

[2017-04-13 12:51] #54 closed

[2017-04-13 12:53] longlho commented on #56
thanks :)

[2017-04-13 12:53] #56 closed

[2017-04-13 12:54] longlho commented on #50
cool let me figure out how to add u as a contributor

[2017-04-13 14:11] JoaoMosmann commented on #50
Great!

[2017-04-14 23:25] calrsom opened #58 "Version 0.3.7 doesn't work on iOS"
This line https://github.com/yahoo/react-dnd-touch-backend/commit/c210e11a499928e11a577d3decfd1ebc38341a10#diff-694049bbccadc234052edce94ace9cbcR335 breaks on iOS because `Document.elementsFromPoint()` is not available on Safari.  See: https://developer.mozilla.org/en-US/docs/Web/API/Document/elementsFromPoint.

[2017-04-18 07:08] JasonBoy commented on #58
same problem

[2017-04-18 09:33] longlho commented on #58
ping @JoaoMosmann ^^

[2017-04-18 09:37] JoaoMosmann commented on #58
My bad, sorry. I was sure that `elementsFromPoint` was supported everywhere. Even IE10 supports it. I'll work around it and commit.

[2017-04-18 11:56] JoaoMosmann commented on #58
@calrsom I added a pull request with a polyfill for when the function `document.elementsFromPoint` is not available. I've tested it in every major browser but Safari, so if you could do it, it would be great.

[2017-04-18 15:32] longlho commented on #58
0.3.8 published that should address this

[2017-04-19 18:49] itssumitrai opened #60 "Getting issues with 0.3.8"
Seeing build issues with latest version
[code]

[2017-04-19 18:50] longlho commented on #60
this is only meant for client side

[2017-04-19 18:50] #58 closed

[2017-04-19 22:28] calrsom commented on #58
We have tested 0.3.8 and it appears to work.  Thanks!

[2017-04-20 08:05] itssumitrai commented on #60
Same code works fine with 0.3.7 though. Need to dig a little more.

[2017-04-20 09:46] JoaoMosmann commented on #60
Can you tell us what is the use case? It shouldn't be throwing this error.

[2017-04-20 10:48] JoaoMosmann commented on #60
Ok, I got it. `document` is being called at the library instantiation. I'll do a PR fixing it.

[2017-04-20 19:54] itssumitrai commented on #60
Thanks @JoaoMosmann 👍

[2017-04-25 00:45] longlho commented on #60
`0.3.9` published, should address this issue

[2017-04-25 00:45] #60 closed

[2017-05-03 15:56] xavibonell opened #62 "Server side compilation is broken"
Hi, first of all thank you for this amazing repository, it's been very useful so far, but something changed over the last month and now it won't compile anymore on a webpack-babel environment.
I had to fork the repo and fix it manually, the problem exists on the polyfill implementation for document.elementsFromPoint and the assumption that 'document' is an existing variable. Even though your last

[2017-05-03 16:08] JoaoMosmann commented on #62
Are you doing unit tests with `react-dnd-touch-backend` ?

[2017-05-03 16:11] JoaoMosmann commented on #62
If you're doing unit tests, you should be using the [TestBackend](http://react-dnd.github.io/react-dnd/docs-testing.html)

If it's not the case, why are you loading it in the backend?

[2017-05-04 13:23] xavibonell commented on #62
Hi Joao, thank you very much for your answer! Is an isomorphic app. So views that require touch events will have to import that backend in either environments. Anyway the problem happens when the whole bundle.js is packed and compiled through webpack+babel and that happens on the backend. Is there any reason to assume the existence of 'document'?
I moved the polyfill inside the class in order to b

[2017-05-04 13:46] JoaoMosmann commented on #62
To be honest, I've never done an isomorphic app that had react-dnd. But surely this is the problem.  This was my mistake, you can see throughout the code, there are conditions like `typeof window === 'undefined'` to prevent the code from running in the backend, but they're all inside the class.

I did it outside the class to follow the same pattern, all the "helper" functions are outside, like `ge

[2017-05-05 08:29] remcotak commented on #62
I'm having the same issue, looking forward to the solution

[2017-05-05 10:19] JasonBoy opened #63 "Is there any CHANGELOG for every version?"
there are no tags or some `changelog.md` file to view the change between every version, can only get some info on `commits`, maybe it's better to add some doc for this, OR is it somewhere else?

[2017-05-05 14:27] Okami92 opened #64 "Is there a way to prevent drag cancel when user touches display with second finger?"

[2017-05-08 10:40] JoaoMosmann commented on #64
Currently, it's not possible. Every time you do a TouchStart it clears the list of dragged sources as you can see here

https://github.com/oyshan/react-dnd-touch-backend/blob/0a89e63cd3da303c40d0bb224fc3531d9a8092ec/src/Touch.js#L239

Maybe @longlho could give a better insight.

[2017-05-08 13:10] Okami92 commented on #64
Thanks for response!

Well, that's sad to hear. This project will be running on windows desktop machine with big touch screen, and client insist that it's a problem and right now I am trying to solve it with something like this:

`if(document.addEventListener) {
  document.addEventListener('contextmenu', function(e) { e.stopPropagation(); });
}
else if(document.attachEvent) {
  document.attachEven

[2017-05-08 13:24] longlho commented on #64
yeah unfortunately it's by design due to differences between native HTML5 drag & touch/mouse event (more prone to complicated scenario like this)

[2017-05-08 13:35] JoaoMosmann commented on #64
What could be done, is to attach the drag events to the Touch Identifier, so each touch would have its own state. However, I think this could be a breaking changing.

So when you `touchend` the second touch, it wouldn't cancel the first touch dragging.
It would also allow having multiple draggings at the same time, which I'm not sure if it's a good feature.

Also, the Touch Identifier is not well

[2017-05-08 18:34] longlho commented on #50
@JoaoMosmann what's your npm username?

[2017-05-09 09:08] Okami92 commented on #64
That would be great, thanks!

[2017-05-09 09:26] JoaoMosmann commented on #50
https://www.npmjs.com/~joaomosmann

[2017-05-09 09:37] JoaoMosmann commented on #63
There is none. I'm planning to add tags and a changelog soon.

[2017-05-09 11:54] #47 closed

[2017-05-09 11:56] #40 closed

[2017-05-09 11:57] #51 closed

[2017-05-10 09:07] JasonBoy commented on #63
great 👍

[2017-05-10 20:41] scottyeck opened #65 "Use npm scripts to run `gulp dev`"
... this way users can run `gulp dev` without `gulp` installed globally. 😇

[2017-05-10 20:42] longlho commented on #65
I'm actually in favor of hosing `gulp` entirely

[2017-05-10 20:46] scottyeck commented on #65
In the meantime... https://github.com/yahoo/react-dnd-touch-backend/pull/66

[2017-05-10 20:46] longlho commented on #65
LGTM :) I'll merge once u sign the NDA

[2017-05-10 20:48] scottyeck commented on #65
@longlho Pretty sure I just did - never seen that before.

[2017-05-10 20:49] longlho commented on #65
oh kk just give the bot some time to refresh then

[2017-05-11 10:15] drexseoj opened #67 "document is not defined"
We are getting the following error on latest version 0.3.9 and we are using node.js version v6.2.2
[code]

[2017-05-11 15:33] JoaoMosmann commented on #67
Duplicate of #62

[2017-05-11 15:33] #67 closed

[2017-05-11 15:49] #62 closed

[2017-05-11 21:05] JoaoMosmann commented on #63
Changelog added at 343f2851d4a9bb6779dc387251f06667d19cea52 :confetti_ball:

[2017-05-11 21:05] #63 closed

[2017-05-11 21:23] JoaoMosmann commented on #49
Sorry for the delay. Have you worked it around?

Scroll and Draggables on touch devices are always a tricky combination. It's hard to tell what action the user is trying to do when both use the same gesture.

You can drag an element accidentally when you're scrolling, or you scroll while you're dragging an element.

But, from a UX perspective, the combination of both seems bad even if they worked

[2017-05-11 21:24] JoaoMosmann commented on #36
Hi @hakunin. Sorry for the delay. Have you worked it around?

Did you find a way to reproduce it ?

Cheers

[2017-05-11 21:29] JoaoMosmann commented on #35
It's a bit late, but it seems this guy is doing a good job related to this issue

https://github.com/LouisBrunner/react-dnd-multi-backend

[2017-05-11 21:30] JoaoMosmann commented on #34
Seems to be working :smile:

[2017-05-11 21:30] #34 closed

[2017-05-12 03:37] hakunin commented on #36
I haven't worked on it, as it doesn't break anything for the users. We can close it and when someone is able to, they can provide more info.

[2017-05-12 09:38] JoaoMosmann commented on #36
Seems good to me. Thanks

[2017-05-12 09:38] #36 closed

[2017-05-18 11:46] gulderov commented on #8
You can use https://github.com/azuqua/react-dnd-scrollzone

[2017-05-18 18:51] igorrKurr commented on #8
Thanks for comments, actually that is outdated issue, so I'm going to close it

[2017-05-18 18:51] #8 closed

[2017-05-24 14:05] #65 closed

[2017-05-25 19:46] davidjmurphyjr opened #68 "Server side rendering broken"
Hi there,

This repo work flawlessly for me in the browser, however I am running into an issue with server side rendering.

[code]

The relevant code:
[code]

The issue:
On the node.js side, `document` does not exist so the code bombs.

Possible solution:
Is the `.bind(document)` necessary? The elementsFromPoint function never references "this". I propose removing `.bind(document)`.

Side note:
Is

[2017-05-26 09:13] JoaoMosmann commented on #68
Hi, thanks for reporting it.
I commented in your PR, have a look.

Yes, it's a "polyfill", it could be stored in the document. So it's more a fallback, but I don't see many differences.

[2017-05-26 12:04] davidjmurphyjr commented on #68
Yup, you're totally right, it is a polyfill, I misunderstood what that first line was doing.

[2017-05-26 13:48] achtan commented on #62
there is still the same error on https://github.com/yahoo/react-dnd-touch-backend/blob/1381dbc56a4e4bf0efdd6e5641850f7439ff3591/src/Touch.js#L52

[code]

[2017-05-26 13:55] JoaoMosmann commented on #62
Hi @achtan. Thanks for the reporting.

There is already a PR coming in #69

I'll only be able to fix it later. If you want, you can fix the PR, or do one yourself and I'll merge it.

[2017-05-28 22:30] JoaoMosmann commented on #68
Should be working on `v0.3.11`

[2017-05-28 22:30] #68 closed

[2017-06-07 14:00] daugsbi opened #71 "Drop/Hover target with childrens"
### Issue
I am experiencing the following issue since the version >= 0.3.7:

If the drop target has nested objects and the hover happens over such a nested object, i. e. a svg group containing a circle and a text, the corresponding target is filtered by this statement:

[code]
_Because the node is not an element of dragOverTargetNodes_.

### Expected behavior
Not filtered out, because the parent i

[2017-06-07 14:22] JoaoMosmann commented on #71
The ordering was implemented so it would have the same behavior as the html5-backend.

Could you reproduce the problem in a jsfiddle?

There is a demo in the repo that shows nested drop targets working fine.
Run `yarn run dev` and navigate to `http://localhost:7789/dropTarget/` open the devtools to see the drop results.

[2017-06-08 08:17] daugsbi commented on #71
I have reproduced the problem with the example in the following commit:
daugsbi@ef1edcd

I have tested chrome and firefox. Both are not working with the group as a drop target. It is not returned by elementsatpoint, so it can not match.

Could be an edge case, but would be nice to also drop on svg groups ;)

[2017-06-08 10:25] JoaoMosmann commented on #71
Indeed, it is not working with the SVG. It must have something to do with some SVG point-events limitation.

https://github.com/yahoo/react-dnd-touch-backend/blob/master/src/Touch.js#L27
As you can see, in the `elementsFromPoint` polyfill, we use pointerEvents to work around the layers of elements. But as SVG elements don't allow `pointer-events` it doesn't work. The native `elementsFromPoint` use

[2017-06-19 21:46] mszczepanczyk commented on #31
In my case I've managed to make it work by replacing conditional rendering with div hiding using styles.

So instead of

[code]

I have

[code]

[2017-06-22 16:54] amakhrov commented on #8
@igorrKurr by saying it's outdated do you mean it's resolved already? or is there a known workaround (like using react-dnd-scrollzone, as suggested above)?

[2017-06-26 08:58] igorrKurr commented on #8
I mean it was resolved.

[2017-06-26 09:49] poryzhao opened #73 "delayTouchStart option works only the first time"
i use iscroll on my project, to prevent dragging when the page is iscrolling, I use backend={TouchBackend({ delayTouchStart: 400 }), I found this works only after the page first rendering, when i click on the other place, the drag behavior is dispatched immediately

[2017-06-26 15:13] amakhrov commented on #8
@igorrKurr thanks. Still wanted to confirm:

When using the backend with `mouseEvents` enabled, I get the following behavior:
- when dragging an element to the screen edges, no auto-scrolling happens
- however, I'm still able to scroll manually during that - using a mouse wheel (or a scroll gesture on a touchpad).

Is that the expected behavior?

(I know mouseEvents is marked as unstable in the do

[2017-06-26 20:23] igorrKurr commented on #8
@amakhrov Ok, sure:)

Project I've been working on while posting this issue was mobile only (cordova), so I didn't tested it for mouse at all and cannot say how it was behaving with `mouseEvents`.
Generally speaking, I believe that behaviour you've described is expected for touch backend.

[2017-06-27 09:25] JoaoMosmann commented on #8
@amakhrov Why don't you use the touch backend when it's on a desktop?

[2017-06-27 16:35] amakhrov commented on #8
@JoaoMosmann I assume you mean - why don't I use html5 backend, right?

- With html5 backend I was struggling with repaint bugs in Chrome when dragging (found a workaround though: https://github.com/react-dnd/react-dnd/issues/747)
- I do want to support mobiles users as well as desktop.

[2017-06-27 16:54] JoaoMosmann commented on #8
Woops. Yes, that what I meant :confounded:

Currently I'm using both, html5-backend for desktop, and touch for touch devices.

You could do it by doing something like this:

[code]

[2017-06-27 16:58] amakhrov commented on #8
@JoaoMosmann thanks for the hint, I'll try that!

One concern is that it seems to include the both backends into the resulting bundle. Probably need to add some async loading of the backend, which complicates the setup

[2017-06-27 17:06] JoaoMosmann commented on #8
Yes, in my case both backends are bundled, but they weight just a little, so I see no problem with having both. But of course, if your application is weight-sensitive, it might be a problem.

[2017-06-30 18:28] emckay opened #75 "delayTouchStart timer does not reset when an element is not dragged"
There is a bug with `delayTouchStart`.

To reproduce:

1. Add `delayTouchStart: 300` to the options in the example on this repo.
2. On a touch device (or Chrome's Device mode), tap one draggable element for more than 300ms.
3. Stop tapping the element without dragging it anywhere.
4. Touch another element, and immediately start dragging.

What happens:

The second element will be dragged, with its

[2017-07-10 17:44] JoaoMosmann commented on #75
Hey @emckay
Sorry for the delay. So, I'm trying to reproduce this behavior, but I'm having a hard time trying.
Actually, this whole `delayTouchStart` functionality seems to be buggy and unreliable.

I know it's asking too much, but could you do a screencast so I can see how you are doing it?

Thanks a million

[2017-07-10 21:44] emckay commented on #75
I don't really see any problems with delayTouchStart after fixing this. We are currently using it in production, and I haven't heard any complaints about it other than this issue :)

Here is a recording, but it's quite hard to see what's going on. This first one is recorded on `master`. The only difference is that I added a 300ms `delayTouchStart` in `examples/index.jsx`.

![before](https://user-i

[2017-07-13 03:28] amakhrov commented on #8
@JoaoMosmann you said you switch between html5 and touch backends based on device capabilities.
How do you implement drag previews in this case? For html5 backend previews are out of the box, while for touch backend you need to define previews manually.
How do you combine this together in a single draggable component?

[2017-07-13 09:17] JoaoMosmann commented on #8
Hey @amakhrov. I implement a custom DragLayer that works for both.

You can see an example here:
https://github.com/yahoo/react-dnd-touch-backend/blob/master/examples/js/ItemPreview.jsx

But in my case, that I have many different types of draggable objects, I pass a JSX in the DragAction, and render this JSX inside the DragLayer component. It works for both html5 and touch backends.

[2017-07-13 15:39] amakhrov commented on #8
Ah, so you use the same custom preview in the both cases.
Got it, thanks!

[2017-07-27 13:57] sandoche opened #78 "Drag'n'drop not working on iOS"
Hi,

I implemented the react-dnd-touch-backend on Kanbanote: https://beta.kanbanote.com
The drag'n'drop works well in Chrome Android but not at all in Safari iOS or not even in Chrome iOS.

I am wondering if it's because the drag'n'drop is in a div that contains a scrollbar ?

[2017-08-02 16:31] JoaoMosmann commented on #78
I've never had a problem with iOS. But yes, the scrollbar could be the problem, have a look at the issues, there are some about it with some solutions as well.

[2017-08-03 18:04] shashanktiwary opened #80 "Travis build is failing on npm test command."
Travis build is failing due to lint task is removed from gulp file but the `package.json` is not updated accordingly.

[2017-08-04 07:03] shashanktiwary commented on #50
Hi @longlho
I want to contribute.

[2017-08-04 18:13] longlho commented on #50
@shashanktiwary sounds good. I think the 1st step is to make some PRs to fix the outstanding issues, then lmk and I can add u

[2017-08-22 02:18] yunchancho opened #81 "Multiple drags are supported at the same time?"
I am developing a webapp using react-dnd-touch-backend library to support interaction with users.
First, I checked drag & drop with custom drag layer works well.
I appreciate efforts of maintainers and folks in this project.

I should support multiple users on large touch device like 55 inch, and make them drag something at the same time.
But, I couldn't find the way to make it.

Is there a way to

[2017-08-23 23:04] philcruz commented on #17
@billschaller I'm trying to implement this workaround but getting getParentOffsets is undefined. Where is that function from?

[2017-08-24 09:45] JoaoMosmann commented on #81
Hi @yunchancho
Unfortunately, at the moment it's not possible to do multiple drags with this backend.

[2017-08-29 10:50] #75 closed

[2017-09-05 16:47] Seurimas opened #83 "Bug - Incomplete elementsAtPointExtended"
Currently, handleTopMove does some smart things with the results from elementsFromPoint, to account for SVG elements in the drag target hierarchy. Unfortunately, there is an additional edge case I ran into which is not accounted for, but does work with the HTML5 backend. Specifically, when a node in the hierarchy is 0-sized and the child node has an absolute positioning, the HTML5 backend would pi

[2017-09-09 15:11] yummish commented on #24
just to vote for this issue.

We have a responsive web app. It sounds like now we need to switch html5-backend and touch-backend based on touch/mouse.

I've tried the enableMouseEvents option, but it is quite slow(we have about 100 images). I still need to look into it why it's so slow.

It'd be great to have both support in one single package.

[2017-09-10 09:42] hakunin commented on #24
Guys check out this high level DND library:
https://github.com/atlassian/react-beautiful-dnd

Its not a replacement just yet, but I am wathching it closely and will switch soon.

[2017-09-22 13:21] mrharel commented on #49
How about enabling the drag only after 2 seconds of clicking on the element. I think this is some expected UI for mobile. (See trello app as an example)

[2017-10-02 20:44] ajhenri commented on #78
+1 on this. @sandoche Did you ever find a solution for this?

[2017-10-02 20:52] sandoche commented on #78
Hey @ajhenri no I didn't look further since I don't own a iOS device.
Last time I tried the scrolling was slow and not smooth like it should be when you scroll, but the drag'n'drop wan't working at all, maybe I should update the dnd-touch-backend and try again!

[2017-11-13 07:17] ramjak opened #87 "PropTypes is undefined when running example"
Must delete all type checking to run.

[2017-11-13 20:22] #87 closed

[2017-11-13 23:37] ranneyd opened #88 "Abysmal performance in Safari"
I swapped HTML5Backend for TouchBackend and my app became unusably slow. It caused a beach ball and would stall for at least 10 second on any click. Same problem in iOS. Works flawlessly in Chrome.

[2017-11-13 23:44] ranneyd commented on #88
UPDATE: I've figured out this is only true with `enableMouseEvents` on, which the docs say might be buggy. Without this flag, however, I can't use the app on both mobile and desktop 😢

[2017-11-16 10:30] dracudakid commented on #49
For me, I set the option `{ delayTouchStart: 10 }`. Still get issue sometimes, but it's acceptable.

[2017-11-21 19:06] erubi opened #90 "isOver never becomes true, hover event never fires after switch from HTML5Backend to Touch"
Trying to switch to the touch backend after having everything working using HTML5Backend in a table with draggable tr components. The isOver prop never changes and it seems like there's no interaction between any of the components. I've created a preview with DragLayer which works fine but nothing happens when dragging over the trs which are both DragSources and DragTargets.

Would appreciate any

[2017-11-23 02:52] dracudakid opened #91 "Disable touch when detect multi touches on screen?"
Hi,

I am trying to implement drag and drop. Everything works fine. But when I zoom in or zoom out by using two fingers, the element is dragged.
I think we could avoid this by stop doing drag and drop when multi-touch is detected.

Is there any better solution to handle this?

Thanks :)

[2017-11-24 02:15] dracudakid commented on #24
Try the option `delayTouchStart`

[2017-11-24 15:44] #90 closed

[2017-12-12 06:26] lednhatkhanh commented on #90
Hey, did you find the way to fix the issue? Thanks

[2017-12-12 07:18] lednhatkhanh opened #92 "isOver is always false and hover() is never being invoked"
I'm trying to implement dnd in a table component and it works fine on desktop with Html5Backend until I add TouchBackend, I can implement a custom drag layer successfully but the hover is never being invoked and isOver is always false. How can I fix this? thank you.

[2017-12-12 09:19] lednhatkhanh commented on #92
Confirm that it works fine if I revert the package back to 3.0.2

[2017-12-15 11:46] ms88privat opened #93 "If e.button is defined then it should be MouseButton.Left."
I updated the topic. See comment below

[2017-12-15 15:28] delijah commented on #93
We get the following error message with react 16:
[code]

After some investigation, we are a bit surprised that it ever worked. We found the part of code which causes us troubles:

https://github.com/yahoo/react-dnd-touch-backend/blob/b9edb860905487268e3196bd5dc13fc834fc83e6/src/Touch.js#L47

The comment above this line says:
[code]

IMHO the behaviour which the comment describes would be correct,

[2017-12-15 15:37] delijah commented on #93
According to my findings, describe in my previous comment, this bug is not related to react 16, but was introduced by version 0.3.18 of react-dnd-touch-backend.

[2017-12-15 18:12] longlho commented on #93
It’d be great if u can submit a PR
On Fri, Dec 15, 2017 at 10:37 AM delijah <notifications@github.com> wrote:

[2017-12-20 14:01] delijah commented on #93
Sorry i was too slow 😳 Thanks to @jedwards1211 for creating a PR to solve this 👍

[2017-12-22 16:39] #93 closed

[2017-12-27 08:09] lednhatkhanh commented on #92
Is this package abandoned?

[2017-12-28 16:47] longlho commented on #92
can you provide a simple snippet to demo the issue?

[2018-01-01 04:37] cormacrelf opened #96 "Don't depend on react-dnd"
I'm the author of [angular-skyhook](https://github.com/cormacrelf/angular-skyhook), which is a re-implementation of `react-dnd` in Angular. It uses the same underlying `dnd-core` and is therefore compatible with all the backends.

The only problem is that existing backends tend to depend on `react-dnd`, and by extension, `react`. Technically, backends don't need any dependencies, but a `peerDepend

[2018-01-03 03:54] cormacrelf commented on #88
https://github.com/LouisBrunner/dnd-multi-backend

The default HTML5ToTouch transition set uses `enableMouseEvents: true`, so you can make your own transition without it by copying and modifying https://github.com/LouisBrunner/dnd-multi-backend/blob/master/packages/react-dnd-multi-backend/src/HTML5toTouch.js

Doesn't really help when you have eg FF/Chrome on Windows 10 with touch support (can't us

[2018-01-03 03:57] cormacrelf commented on #92
My guess is you have an overlay <div> that is stealing all the mouse events. Try using `pointer-events: none` as the react-dnd example code does, and maybe clarify what you mean by 'add TouchBackend'.

[2018-01-30 09:18] Duskfall commented on #88
I have tried all of the above, but still I get very crappy performance on iOS 11. :/

[2018-01-30 19:35] cormacrelf commented on #88
@Duskfall have you profiled during a drag on iOS using the Safari (macOS) remote debugger? Could you post your findings?

[2018-01-31 12:16] Duskfall commented on #88
I haven't a Mac unfortunately :/

[2018-02-12 15:25] laurenkt commented on #88
I have also had performance issues on iOS, whilst dragging an item:

![screen shot 2018-02-12 at 15 20 43](https://user-images.githubusercontent.com/1607874/36103898-7956cf0e-1008-11e8-8c81-a4654158e4a7.png)

Although I'm not 100% sure how to interpret this.

The lines in react-dnd-touch-backend that a lot of time is being spent on:

93: `while ((current = document.elementFromPoint(x, y)) && eleme

[2018-02-12 15:29] longlho commented on #88
do u have a simple example to replicate the problem?

[2018-02-12 15:33] laurenkt commented on #88
Looking deeper, `elementFromPoint` is taking ~30ms on average so even if it was the only blocking operation and everything else was instant, it would cap performance. On some frames it's been called more than once so it's quite a big impact.

[2018-02-12 15:33] laurenkt commented on #88
@longlho I can try and come up with a simple example at some point, if I remember in a couple of weeks (work very busy right now)

[2018-02-12 16:35] longlho commented on #88
PR's welcome too, I'm actually not using this plugin ATM so I don't really have time to further develop

[2018-02-12 22:59] laurenkt commented on #88
OK I have a work-around, but not an especially elegant one.

I replaced the `elementsFromPoint` polyfill with just:

[code]

Obviously this causes problems with the drop-targets when they have nested items, so I used the dray layer monitor to detect when dragging is happening, and add a class to the drop targets that sets `pointer-events: none` for all child elements.

This produces very smooth pe

[2018-02-12 23:28] cormacrelf commented on #88
If that’s better, is it maybe that you are invalidating the layout cache on every frame? I know the reference implementation of the drag preview layer has “pointer-events: none”, which you might not have (?). Also I can imagine anything except the drag layer changing size or positioning causing this.

With pointer events none and an otherwise quite static page, it seems quite smooth on MobileSafar

[2018-02-12 23:31] cormacrelf commented on #88
Secondly it seems odd that your profiler is actually running through the elementsFromPoint polyfill. Is this an old version of MobileSafari? I thought the newer ones from be last few years had a native version on Document.

https://developer.mozilla.org/en-US/docs/Web/API/DocumentOrShadowRoot/elementsFromPoint

[2018-02-12 23:41] laurenkt commented on #88
To the former I will investigate tomorrow, but as to the latter: no, I believe that page is incorrect. It does not seem to be present in Mobile Safari (iOS 11.2.5).

[2018-03-22 22:46] mmairs9 commented on #34
i see the same issue in the latest version 0.3.21 rolling back all the way to 0.2.7 solved the issue. The hover only triggered when the mouse left the preview when dragging quickly.

[2018-04-10 10:46] vasconita opened #101 "Not working in iOS 11.3"
Hi,

I recently updated to iOS lastest version and I realized drag and drop is not working correctly in my app. The problem is: when you start dragging you are also scrolling all the content, what is especially painful in Chrome since it refreshes the page.

**Before 11.3 it worked fine, like that:**

![before](https://user-images.githubusercontent.com/7622399/38508000-512dd83c-3c1e-11e8-85f4-1c49

[2018-07-06 22:34] bradfordlemley commented on #88
I'm also seeing very poor/unusable performance with iOS Safari and can confirm @laurenkt's analysis: document.elementsFromPoint is not supported and the "polyfill" is causing the poor performance.

The poor performance of the polyfill is due to the loop with:
`current.style.setProperty('pointer-events', 'none', 'important');` // invalidates style
`document.elementFromPoint(x, y)` // recalculates s

[2018-07-10 15:19] nassimbenkirane commented on #91
We had a similar problem and we solved it by registering in a variable when we were touching the screen and then using canDrag in the dragSource to prevent the dragging if there's already a finger on the screen

it looks like this:

[code]

I think I agree it would be great if the backend something similar automatically

[2018-07-26 13:59] NineThou commented on #31
In my case dragging item was frozen when the container component which was connected to the touch backend was rerendering

[2018-07-27 09:22] danielpox opened #105 "DragLayer major rendering performance issues on iPad Pro"
When dragging items using react-dnd-touch-backend, and rendering a preview using a DragLayer, the rendering is really sloppy and even splits into two layers. [Here’s a video](https://streamable.com/0f7vx) of the issue. The item doesn’t follow the Apple Pencil nor finger when dragging.

If trying to record the screen with the built-in functionality in iOS, this issue doesn’t quite show up the same

[2018-09-18 07:17] eugeneford commented on #31
Also applied this fix in my project. Any considerations if this would be applied to backend itself?

[2018-09-19 18:16] eugeneford commented on #31
I would try

[2018-09-27 08:13] raffa-sh opened #108 "Console throws errors on pressing `ESC` button"
If `enableKeyboardEvent` option is true and we aren't dragging anything, console throws an error on pressing `ESC` button. This error is appeared after first drag.
Steps for reproduce:

1. Begin to drag something in your page
2. Hit `ESC` after drag several times. Error will be thrown on each press.

![image](https://user-images.githubusercontent.com/8077820/46131685-f0e67580-c244-11e8-9417-287ff5

[2018-09-27 08:33] raffa-sh commented on #108
I forked repo and created Pull Request, which resolves this issue

[2018-09-27 18:09] #108 closed

[2018-09-28 10:43] icodinglee opened #110 "how to use it under react@^v15.6.0"

[2018-10-26 23:12] amerryma commented on #17
@philcruz @billschaller Do either of you have an official workaround for this?

[2018-11-09 16:08] 0815Strohhut opened #111 "Client Offset in beginDrag"
Hello,

with Release 6.0 react-dnd supports the use of the client offset in the beginDrag method. (See https://github.com/react-dnd/react-dnd/releases/tag/v6.0.0 [Patch] - Fire off an initCoords event before dragStart to improve client offset-calculation logic.(#1082)).
In order to support that change, the respective backend has to call the action "initCoords" before "beginDrag". As far as I can t

[2018-11-09 16:09] longlho commented on #111
thanks for reporting. PR's always welcome 😄

[2018-11-09 17:55] #111 closed

[2018-12-04 06:42] EvoqueM opened #113 "Not support the latest version of react-dnd, i.e. 7.0.2"
The error message is
![image](https://user-images.githubusercontent.com/45473833/49423429-756bec00-f7d2-11e8-87dd-26a468f32295.png)

And `react-dnd 6.0.0` works fine with `react-dnd-touch-backend 0.6.0`.

Do you guys have plan to keep up with `react-dnd`?  tks...

[2018-12-05 17:41] willnix86 opened #114 "this.actions.initCoords is not a function"
Whenever I try to drag a draggable object, I receive the following error:

Touch.js:542 Uncaught TypeError: this.actions.initCoords is not a function
    at TouchBackend.handleTopMove (Touch.js:542)
handleTopMove @ Touch.js:542

Any ideas for a fix?

[2018-12-05 17:52] longlho commented on #114
fixed in v0.7

[2018-12-05 17:52] #114 closed

[2018-12-05 17:52] longlho commented on #113
fixed in v0.7

[2018-12-05 17:52] #113 closed

[2018-12-05 18:08] willnix86 commented on #114
Thanks. I'm sure I'm being stupid but I seem to be stuck on v0.6 with react-dnd-touch-backend. When I try to install it again, I get this in my terminal:

npm WARN react-dnd-touch-backend@0.6.0 requires a peer of react-dnd@^6.0.0 but none is installed. You must install peer dependencies yourself.

+ react-dnd-touch-backend@0.6.0
updated 1 package and audited 36062 packages in 16.801s
found 0 vulne

[2018-12-05 18:10] longlho commented on #114
https://www.npmjs.com/package/react-dnd-touch-backend has latest version as 0.7. Maybe clear your npm cache, package-lock or force install `npm i react-dnd-touch-backend@0.7`

[2018-12-05 18:11] willnix86 commented on #114
That worked. Still getting the same initCoords error though. Is it something to do with the fact that it's not recognizing react-dnd? I have both installed but the latter isn't registering as the peer for touch-dnd

npm WARN react-dnd-touch-backend@0.7.0 requires a peer of react-dnd@^6.0.0 but none is installed. You must install peer dependencies yourself.

[2018-12-05 18:14] longlho commented on #114
oh sorry that was my bad. try `0.7.1`

[2018-12-05 18:15] willnix86 commented on #114
That's fixed the 'peer' issue, but I still see the initCoords error

[2018-12-05 18:18] longlho commented on #114
hmm can u make sure u clear all ur caches? It shouldn't be there anymore

[2018-12-05 18:18] willnix86 commented on #114
Ignore me, works great!

[2018-12-28 08:06] lednhatkhanh commented on #16
Hello, any updates on this, I'm also facing the same problem that the browser doesn't scroll when dragging on mobile devices.

[2019-03-06 19:27] Finec commented on #31
In our case, when dragging too fast, the dragEnd event didn't fire (on Chrome 72), so the drag item freeze on the screen.

Here's a temporary fix for the wrapping container.

`handleDragStart = () => {
    window.addEventListener('mouseup', this.handleMouseUp);
  }

  handleMouseUp = () => {
    window.dispatchEvent(new Event('dragend'));
    window.removeEventListener('mouseup', this.handleMouseU

[2019-03-06 19:59] Finec commented on #31
In our case, when dragging too fast, the dragEnd event didn't fire (on Chrome 72), so the drag item freeze on the screen.

Here's a temporary fix for the wrapping container:

[code]

[2019-03-15 23:54] bastaware opened #116 "Links in docs not working"
From docs:

Drag Preview
Since native Drag-n-Drop is not currently supported in touch devices. A custom DragPreview is required. Check out the example for a sample implementation.

Link to example and DragPreview does not work.

[2019-03-28 03:51] markdon commented on #16
I think I'm looking for similar functionality. My draggables are in a scroll container. The behaviour I'm hoping to achieve would have swipe gestures scroll the container even when they start on top of a draggable. Dragging would require the user to tap and hold a draggable for around 150ms to start a drag.

Did anyone actually solve this and have a demo to share?

[2019-03-28 04:32] markdon commented on #16
I didn't read this carefully enough 😅 @cedmax PR was merged and the `delay` option appears to do exactly what's needed! Maybe I should put together a PR to add this to the README 😉

[2019-03-29 01:53] markdon commented on #16
I just realised delayTouchStart was added as a synonym for delay. It still needs an explanation in the README :)

[2019-04-07 15:53] vvitto opened #117 "Hover for mobile devices."
On mobile devices a hover action invoked only while moving the touch. Is it a good idea to add setInterval for invoking the hover action the same way like it works on desktops?

[2019-04-24 12:32] frankbolviken commented on #116
Yep, Links not working.. and I'm currently looking for this. Any ideas?

[2019-04-29 06:01] Palaklive commented on #116
Hey @bastaware @frankbolviken
May be this [custom-drag-layer example](https://react-dnd.github.io/react-dnd/examples/drag-around/custom-drag-layer) will be helpful to you.

[2019-05-07 15:57] louh opened #119 "Babel "Duplicate plugin/preset detected" error message"
I'm using Babel and Parcel to build my application. With `react-dnd-touch-backend`, I'm getting this error:

[code]

[2019-05-07 16:22] louh commented on #119
It seems that the `.babelrc` in the package root is being published, which is being detected by Babel, and then it conflicts with my own project's `.babelrc`. Since the package is already transpiled when it's published, you don't need to include `.babelrc` in the distribution. The best option is to add `.babelrc` to `.npmignore`.

[2019-05-28 07:34] VojGin commented on #119
Confirmed, after removing .babelrc from react-dnd-touch-backend manually, it works again like a charm.

Please consider removing .babelrc from the repo

[2019-05-28 11:09] #119 closed

[2019-05-28 11:14] #116 closed

[2019-06-18 04:35] MuYunyun opened #121 "0.8.3 version has some error with Touch.d.ts"
### usage version

[code]

When I use typescript, it compiles failed with the message as follow:

[code]

[2019-06-18 04:38] longlho commented on #96
fixed

[2019-06-18 04:38] #96 closed

[2019-06-19 08:32] marvwhere opened #122 "Not working with react-dnd 7.1.0"
Hey, I have some issues with react-dnd 7.1.0 and the current react-dnd-touch-backend.

As soon as I Update to 7.1.0 I'm running into type problems.

`TS2322: Type 'import("/Users/.../@types/react-dnd-touch-backend/node_modules/dnd-core/lib/interfaces").BackendFactory' is not assignable to type 'import("/Users/.../dnd-core/lib/cjs/interfaces").BackendFactory'.
  Types of parameters 'dragDropManager

[2019-06-28 02:19] cormacrelf commented on #96
For anyone wondering where: https://github.com/react-dnd/react-dnd/pull/1425/files#diff-b8b1ba0bbc674928b189df831f3c86b3

[2019-07-03 09:52] Sark91 commented on #122
👍

[2019-07-03 14:28] marvwhere commented on #121
Did you find any solution?

[2019-07-03 14:52] longlho commented on #121
This repo is being migrated to the `react-dnd` monorepo https://github.com/react-dnd/react-dnd/pull/1425

[2019-07-03 15:55] MuYunyun commented on #121
I locked the react-dnd-touch-backend version with `0.8.1`, if any ways to fix it, please tell me.

[2019-07-21 12:02] thefliik commented on #122
FYI, the `react-dnd-touch-backend` npm package is (now?) part of the [`react-dnd` repo](https://github.com/react-dnd/react-dnd). When I was searching for this package I accidentally found my way here (because of the name), but what I wanted was https://github.com/react-dnd/react-dnd (the package is currently located in [react-dnd/packages/core/touch-backend](https://github.com/react-dnd/react-dnd/

[2019-07-21 12:15] longlho commented on #122
Yeah this package will be archived soon cc @redonkulus

On Sun, Jul 21, 2019 at 2:02 PM thefliik <notifications@github.com> wrote: